%ul.menu.social
  %li
    %a(href="mailto:#{@config[:profile][:email]}")
      %i.fa.fa-envelope
  %li
    %a(href="#{@config[:profile][:linkedin]}")
      %i.fa.fa-linkedin
  %li
    %a(href="#{@config[:profile][:github]}")
      %i.fa.fa-github
